* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #3f3f3f;
  font-family: Montserrat;
  background: #f0f0f0;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px 0px;
  background: #2b345f;
}
.menu {
  list-style: none;
  display: flex;
}
.menu li {
  padding-right: 15px;
  padding: 4px 15px;
  border-radius: 25px;
  margin-right: 15px;
  background: #2b345f;
  border: 2px solid #ffffff;
  font-size: 14px;
}
.menu li:hover {
  box-shadow: 4px 6px 10px 1px #000000;
  transition: 0.5s ease;
  cursor: pointer;
}
.menu li a {
  color: #ffffff !important;
}
a:hover {
  text-decoration: none;
}
footer {
  background: #bfbfbf;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: auto;
  bottom: 0px;
  left: 0;
  right: auto;
  box-shadow: 0px -3px 10px #00000029;
}
.content {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px;
  margin-top: 15%;
  margin-bottom: 15%;
}
.logo {
  width: 25%;
  background: white;
  padding: 10px;
  height: auto;
}
.heading {
  padding-bottom: 2%;
}
.form {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  background: white;
  padding: 25px;
  box-shadow: 6px 6px 10px 2px #00000075;
  border-radius: 15px;
}
.form-label {
  font-weight: bold;
}
.otp {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 15%;
  background: white;
  padding: 25px;
  padding: 3em 2em 3em;
  box-shadow: 6px 6px 10px 2px #00000075;
  border-radius: 15px;
}
